body {
    background-color: rgb(30, 177, 222);
    color: black;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.foto-perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid black;
}

.container{
max-width: 600px;
padding: 20;
text-align: center;
}
.perfil h1{
    font-size: 1.5em;
    margin-bottom: 5px;
}